<div class="container">
  <div class="row login-container column-seperation">
    <div class="col-md-5 col-md-offset-1">
      <br>
      <img class="logo login" src="img/logo.svg">
      <h3>
        Sign in to your account
      </h3><br>
      <p class="hidden-xs">
        Please sign-in with your email and password.<br>
        Don't have an account yet?<a href="#!/register"> Register now!</a>
      </p>
    </div>
    <div class="col-md-5">
      <br>
      <form class="login-form">
        <div class="row">
          <div class="form-group col-md-10">
            <label for="company" class="form-label">Company</label>
            <input id="company" ng-model="company" type="text" class="form-control" />   
          </div>
        </div>

        <div class="row">
          <div class="form-group col-md-10">
            <label for="username" class="form-label">Email</label>
            <input id="username" ng-model="username" type="text" class="form-control" />
          </div>
        </div>

        <div class="row">
          <div class="form-group col-md-10">
            <label for="password" class="form-label">Password</label>
            <input id="password" ng-model="password" type="password" class="form-control" />
          </div>
        </div>

        <div class="row">
          <div class="col-md-7">
            <div class="checkbox checkbox check-success">
              <input id="checkbox" ng-model="rememberMe" type="checkbox"> <label for="checkbox">Keep me reminded</label>
            </div>
          </div>
          <div class="col-md-5">
            <button type="submit" class="btn btn-primary btn-login" ng-click="login()">Login</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>