<div class="col-md-12 initial">
    <div class="grid simple ">
        <div class="grid-title no-border">
            <div class="tools">	<a href="javascript:;" class="collapse"></a>
				<a href="#grid-config" data-toggle="modal" class="config"></a>
				<a href="javascript:;" class="reload"></a>
				<a href="javascript:;" class="remove"></a>
            </div>
        </div>
        <div class="grid-body no-border">
            <h3>My <span class="semi-bold">Products</span></h3>
            <table class="table no-more-tables">
				<thead>
				    <tr>
				        <th style="width:9%">Sku</th>
				        <th style="width:22%">Name</th>
				        <th style="width:6%">Description</th>
				    </tr>
				</thead>
				<tbody>
				    <tr ng-repeat="product in products">
				        <td class="v-align-middle">{{ product.externalId }}</td>
				        <td class="v-align-middle"><span class="muted">{{ product.name }}</span>
				        </td>
				        <td><span class="muted">{{ product.description }}</span>
				        </td>
				    </tr>
				</tbody>
			</table>     
        </div>
    </div>
</div>
